.header{
    background-color: #1f2937;
    display:flex;
    align-items:center;
    justify-content: space-around;
    
    
}

ul{
    list-style-type: none;
    display:flex;
    gap: 16px;
    padding:0;
}

a{
    text-decoration: none;
}
a:visited{
    color: inherit;

}

.right{
    color: #e5e7eb;
    font-size: 18px;
}

.left{
    color: #f9faf8;
    font-size: 24px;
}

.main-content{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:100px;
    gap:16px;

    
}

h1{
    font-size:48px;
    font-weight:800; 
    color:#f9faf8;

}

.main-text, .placeholder-text{
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap:wrap;
    
}

body{
    display:flex;
    flex-direction: column;
}

.main-button{
    background-color: #3882F6;
    color:#e5e7eb;
    font-size: 18px;
    border-radius: 12px; 
    border-color:#3882F6;
    width: 150px;
    height:50px;
}

.image-placeholder{
    background-color:#808080;
    width: 800px;
    height:300px;
    display:flex;
    justify-content: center;
}

.placeholder-text{
    align-self:center;
}

h2{
    font-size:36px;
    font-weight:800;
    color:#1f2937;
}

.information-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.info-container{
    display:flex;
}

.information-placeholder-a, .information-placeholder-b, .information-placeholder-c, .information-placeholder-d{
    border: 3px solid #3882F6;
    border-radius: 12px;
    display:flex;
    width:200px;
    height:200px;
}